* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #0A192F; /
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFFFFF; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  header h2 {
    color: #0A192F; 
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  nav a {
    text-decoration: none;
    color: #0A192F; 
    font-weight: 500;
  }
  
  nav a:hover {
    color: #CBD5E1; 
  }
  
  .landingpage {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  
  .landingpage h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #FFFFFF; 
  }
  
  .landingpage p {
    font-size: 27px;
    max-width: 600px;
    color: #CBD5E1; 
  }
  

