 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding-top: 80px;
  background-color: #1e315c;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

header h2 a {
  text-decoration: none;
  color: #0A192F;
  font-weight: 500;
}

header h2 a:hover {
  color: #CBD5E1;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #0A192F;
  font-weight: 500;
}

nav a:hover {
  color: #CBD5E1;
}

@media (max-width: 768px) {
  nav {
    display: block;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}


.landingpage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #1e315c;
}

.landingpage h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.landingpage p {
  font-size: 27px;
  max-width: 600px;
  color: #ffffff;
  margin-bottom: 30px;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.sobre img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.sobre .texto {
  transform: rotate(-90deg);
  font-size: 1.5rem;
  color: #ffffff;
  max-width: 600px;
  word-wrap: break-word;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .sobre {
    justify-content: center;
    text-align: center;
  }

  .sobre img {
    width: 120px;
    height: 120px;
  }

  .sobre .texto {
    transform: rotate(0deg);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .sobre {
    flex-direction: column;
    align-items: center;
  }

  .sobre img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .sobre .texto {
    transform: rotate(0deg);
    font-size: 1rem;
    max-width: 90%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .sobre img {
    width: 80px;
    height: 80px;
  }

  .sobre .texto {
    font-size: 0.9rem;
  }
}

section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

section h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

section p {
  font-size: 27px;
  max-width: 600px;
  color: #CBD5E1;
}

@media (max-width: 768px) {
  section h1 {
    font-size: 36px;
  }

  section p {
    font-size: 22px;
    max-width: 90%;
  }
}

.btn-download {
  background-color: #0A192F;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #cadaee;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #fffefe;
  color: black;
}

@media (max-width: 768px) {
  footer {
    padding: 15px;
  }
}
